[Desktop Entry]
Type=Application
Name=Yamagi Quake II
Icon=Quake2.svg
Exec=quake2
StartupWMClass=
Categories=Game;Shooter;
Terminal=false
StartupNotify=false
